[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[dev-packages]



[packages]

crcmod = "==1.7"
cython = "==0.27.2"
nose = "==1.3.7"
pillow = "==3.4.1"
requests = ">=2.20.0"
tensorflow = "*"
"apache-beam[gcp,test]" = "*"
funcsigs = "*"
google-api-python-client = "*"
more-itertools = "*"
pbr = "*"
rarfile = "*"
tensorflow-transform = "*"


[requires]

python_version = "2.7"
