[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[dev-packages]



[packages]

"boto3" = "*"
"h5py" = "*"
"pep8" = "*"
bcolz = "*"
cython = "*"
edward = "*"
ipython = "*"
jupyter = "*"
kaggle-cli = "*"
keras = "*"
keras-vis = "*"
lime = "*"
matplotlib = "*"
more-itertools = "*"
nose = "*"
notebook = "*"
opencv-python = "*"
pandas = "*"
patsy = "*"
pillow = "*"
pydot-ng = "*"
pytest = "*"
pyyaml = "*"
scikit-image = "*"
scikit-learn = "*"
scikit-optimize = "*"
seaborn = "*"
sklearn-pandas = "*"
statsmodels = "*"
tensorflow-gpu = "*"
tensorflow-tensorboard = "*"
tqdm = "*"
keras-tqdm = "*"
pymongo = "*"
imbalanced-learn = "*"
ray = "*"


[requires]

python_version = "3"
