[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[dev-packages]



[packages]

"apache-beam[gcp]" = "*"
cython = "*"
funcsigs = "*"
google-api-python-client = "*"
more-itertools = "*"
pbr = "*"
pillow = "*"
requests = "*"
scikit-image = "*"
snappy = "*"
tensorflow = "*"
tensorflow-transform = "*"


[requires]

python_version = "2.7"
